---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4><b>Bio</b></h4>
  <p>
      <br> I am a Masters Student at USC, majoring in Computer Science, where I am working with Professor  <a href=https://xuezhemax.github.io target="_blank">Xuezhe Ma</a> and PhD student <a href=http://charismaticchiu.github.io target="_blank">MingChang Chiu</a> .
      <br>
      <p>    
        
        Before coming to USC, I received my Bachelor of Arts degree in Computer Science at New York University, where I worked with Professor  <a href=https://cims.nyu.edu/~sondjaja/ target="_blank">Mutiara Sondjaja</a>.
      </p> 
    
  </p>
  <p>    I am generally interested in applied Machine Learning, but my recent interests have involved mostly in Computer Vision, but I am open to learning more about Computer Graphics.
  </p>
   <p>    I am interested in a variety of different fields, including the fields above and, but not limited to, Natural Language Processing and Game Development.
  </p> 
    
    
   


</div>

<!--- ========== PROJECTS ==========
<h4><b>Recent Research Areas</b></h4>

<div class="docs-section" id="projects">
  {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
    {% for project in selected_projects %}
      {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}
          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <center>
                  <b>{{ project.title }}</b> <br/>
                  </center>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
</div>
--->




<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4><b>More Information</b></h4>

<!-- 
  <p>Most recent publications on <a href="https://scholar.google.com/citations?user=6_MQLIcAAAAJ" target="_blank">Google Scholar</a>.</p>
-->
  <ul class="tab-nav">
    <li><div class="button active" data-ref="#grad">Graduate Research Experience</div></li>
    <li><div class="button" data-ref="#undergrad">Undergraduate Research Experience</div></li>    
    <li><div class="button" data-ref="#testscores">Test Scores</div></li>    
    <li><div class="button" data-ref="#skills">Skills</div></li>    

<!--    <li><div class="button" data-ref="#papers-RL">Representation Learning</div></li>-->
<!--    <li><div class="button" data-ref="#papers-NLP">NLP</div></li>-->
<!--    <li><div class="button" data-ref="#papers-Bio">Comp Bio</div></li>-->
  </ul>

  <div class="tab-content">

    

    <div class="tab-pane active" id="undergrad">
      <p> My name is Derrick Kim</p>
      {% assign papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.bibtex %}
              <a class="button" href="{{ paper.bibtex | prepend: site.baseurl }}" target="_blank">Bib</a>
            {% endif %}
            {% if paper.arXiv %}
              <a class="button" href="{{ paper.arXiv }}" target="_blank">ArXiv</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p>
            <i>{{ paper.venue }}</i>
            {% if paper.award %}
              (<b>{{ paper.award }}</b>)
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </div>
    
    <div class="tab-pane" id="grad">
      <p> This is the grad section</p>

      {% assign papers = site.data.publications.papers %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.bibtex %}
              <a class="button" href="{{ paper.bibtex | prepend: site.baseurl }}" target="_blank">Bib</a>
            {% endif %}
            {% if paper.arXiv %}
              <a class="button" href="{{ paper.arXiv }}" target="_blank">ArXiv</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p>
            <i>{{ paper.venue }}</i>
            {% if paper.award %}
              (<b>{{ paper.award }}</b>)
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="testscore">
      
      <p> Old SAT: 2250</p>
      <p> Toefl: 116 but fluent in English as I was raised in New Jersey and spent my undergraduate in New York </p>
      <p> GRE Verbal 161, Quant 165, Writing 5.0</p>
      {% assign papers = site.data.publications.papers %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.bibtex %}
              <a class="button" href="{{ paper.bibtex | prepend: site.baseurl }}" target="_blank">Bib</a>
            {% endif %}
            {% if paper.arXiv %}
              <a class="button" href="{{ paper.arXiv }}" target="_blank">ArXiv</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p>
            <i>{{ paper.venue }}</i>
            {% if paper.award %}
              (<b>{{ paper.award }}</b>)
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </div>

    
  </div>
</div>

<!---
<div class="docs-section" id="talks">
  <h4>Talks and slides</h4>
  {% assign current_talks = site.data.talks.talks | where: "category", "current" %}
  {% for talk in current_talks %}
  <div class="talk">
    <p class="title"><b>{{ talk.name }}</b> ({{ talk.time }}): <a href={{talk.link}} target="_blank">{{ talk.title }}</a></p>
  </div>
  {% endfor %}
</div>
--->


<!---
<div class="docs-section" id="people">
  <h4>Advisees</h4>


  <ul class="tab-nav">
    <li><div class="button active" data-ref="#current">Current</div></li>
    <li><div class="button" data-ref="#former">Former</div></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="current">
      {% assign current_people = site.data.students.students | where: "category", "current" %}
      {% for person in current_people %}
        <div class="paper">
          <p class="title"><b>{{ person.name }}</b> ({{ person.time }})</p>
          <p><i>{{ person.place }}</i></p>
          {% if person.current %}
          <p> {{ person.current }} </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="former">
      {% assign former_people = site.data.students.students | where: "category", "former" %}
      {% for person in former_people %}
        <div class="paper">
          <p class="title"><b>{{ person.name }}</b> ({{ person.time }})</p>
          <p><i>{{ person.place }}</i></p>
          {% if person.current %}
          <p> {{ person.current }} </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    
  </div>
</div>
--->



<!---
<div class="docs-section" id="resume">
  <h4>Resume</h4>

  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
--->


<div class="docs-section" id="ack">
  <h4>Acknowledgement</h4>
  <p>
    This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>
  </p>
</div>
