---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4><b>Bio</b></h4>
  <p>
      <br> I am a Masters Student at USC, majoring in Computer Science, where I am working with Professor  <a href=https://xuezhemax.github.io target="_blank">Xuezhe Ma</a> and PhD student <a href=http://charismaticchiu.github.io target="_blank">MingChang Chiu</a> .
      <br>
      <p>    
        
        Before coming to USC, I received my Bachelor of Arts degree in Computer Science at New York University, where I worked with Professor  <a href=https://cims.nyu.edu/~sondjaja/ target="_blank">Mutiara Sondjaja</a>.
      </p> 
    
  </p>
  <p>My works are generally in applied Machine Learning, but my recent interests involve mostly aspects of Computer Vision,
    and I am seeking to learn more about Computer Graphics.    
  </p>
  
    
    
   


</div>

<!--- ========== PROJECTS ==========
<h4><b>Recent Research Areas</b></h4>

<div class="docs-section" id="projects">
  {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
    {% for project in selected_projects %}
      {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}
          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <center>
                  <b>{{ project.title }}</b> <br/>
                  </center>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
</div>
--->




<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4><b>More Information</b></h4>

<!-- 
  <p>Most recent publications on <a href="https://scholar.google.com/citations?user=6_MQLIcAAAAJ" target="_blank">Google Scholar</a>.</p>
-->
  <ul class="tab-nav">
    <li><div class="button active" data-ref="#graduate">Graduate Research Experience</div></li>
    <li><div class="button" data-ref="#undergrad">Undergraduate Research Experience</div></li>    
    <li><div class="button" data-ref="#testscores">Test Scores</div></li>    
    <li><div class="button" data-ref="#skills">Skills</div></li>    
    <li><div class="button" data-ref="#projects">Projects</div></li>    


<!--    <li><div class="button" data-ref="#papers-RL">Representation Learning</div></li>-->
<!--    <li><div class="button" data-ref="#papers-NLP">NLP</div></li>-->
<!--    <li><div class="button" data-ref="#papers-Bio">Comp Bio</div></li>-->
  </ul>

  <div class="tab-content">

    

    <div class="tab-pane" id="undergrad">
      <b> NYU Dean's Undergraduate Research Fund recepient(September 2018 ~ May 2020)</b>
      <p>-Implemented KNN algorithms from scratch on breast cancer cell data set and least squares for
      classification on a manually created data set</p>
      <p>-Implemented Naive-Bayes Algorithm on complex data such as blood cell images and simpler data
        such as images of handwritten digits(0-9)</p>     
        
      <p>-Studied the theoretical mathematics behind Support Vector Machines and Naive Bayes Algorithm</p> 
      <p>-Experimented with Interior Point Method and the challenges involved if the number of input points
        is scaled up. On a training data set that has binary labels, formulated a Support Vector Machine
        Quadratic Program, using KKT conditions. With the newly evolved constraints, attempted to find
        the optimal hyperplane that classifies the modified problem.</p>
       
        {% assign papers = site.data.publications.papers %}
        {% for paper in papers %}
          <div class="paper">
            <p class="title"><b>{{ paper.title }}</b>
              {% if paper.paper_pdf %}
                <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
              {% endif %}
             
             
              {% if paper.code %}
                <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}
            </p>
            <p>{{ paper.authors }}</p>
            <p>
              <i>{{ paper.venue }}</i>
              {% if paper.award %}
                (<b>{{ paper.award }}</b>)
              {% endif %}
            </p>
          </div>
        {% endfor %}
    </div>

    <div class="tab-pane" id="graduate">
      <b>Graduate Research Assistant at USC Information Science Institute</b>
      <p> -Analysis of Deepfake Detection Algorithms by lowering the resolution of images in Deepfake Datasets
        to see if there are any common clues or features to detect Deepfakes.</p>
        <p> If there are such features, then
        there would be a more robust approach to detect such fake images.</p>

    </div>
          
    
    <div class="tab-pane" id="grad">
      <p> This is the grad section</p>

      {% assign papers = site.data.publications.papers %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.bibtex %}
              <a class="button" href="{{ paper.bibtex | prepend: site.baseurl }}" target="_blank">Bib</a>
            {% endif %}
            {% if paper.arXiv %}
              <a class="button" href="{{ paper.arXiv }}" target="_blank">ArXiv</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p>
            <i>{{ paper.venue }}</i>
            {% if paper.award %}
              (<b>{{ paper.award }}</b>)
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="testscores">
      
      <b> Old SAT:  </b>
          <p> 2250  </p>
     <b> TOEFL: </b>
          <p>  116 but fluent in English as I was raised in New Jersey and spent my undergraduate in New York. </p>
     <b> GRE: </b>
      <p> Verbal 161, Quant 165, Writing 5.0</p>
            
    </div>

    <div class="tab-pane" id="skills">
      
      <b>Proficient in:</b>
      <p> Python(Expert), Java(Expert), C++(Intermediate)</p>

      <b>Tools that I am familiar with:</b>
      <p> Pytorch, Git, Matplotlib, Seaborn, Unity, OpenGL </p>

      <b>Languages:</b>
      <p> Korean(Native), English(Native)</p>
            
    </div>

    <div class="tab-pane" id="projects">
      

      <h5>Projects for Relevant Coursework</h5>
      <b>1. Artificial Intelligence(NYU)</b>
      <p>-Implemented Davis Putnam Algorithm to generate a Hamiltonian Path</p>
      <p>-Implemented a program that can solve the Post Correspondence Problem</p>
      <b>2. Foundations of Artificial Intelligence(USC)</b>
      <p>-Implemented BFS, Uniform Cost Search, and A* Search algorithm</p>
      <p>-Implemented an agent that can play GO on a miniature 5x5 board using the Alpha-Beta Pruning algorithm</p>
      <p>-Implemented a Neural Network from scratch to classify the handwritten digits in the MNIST dataset</p>

            
    </div>
    
  </div>
</div>

<!---
<div class="docs-section" id="talks">
  <h4>Talks and slides</h4>
  {% assign current_talks = site.data.talks.talks | where: "category", "current" %}
  {% for talk in current_talks %}
  <div class="talk">
    <p class="title"><b>{{ talk.name }}</b> ({{ talk.time }}): <a href={{talk.link}} target="_blank">{{ talk.title }}</a></p>
  </div>
  {% endfor %}
</div>
--->


<!---
<div class="docs-section" id="people">
  <h4>Advisees</h4>


  <ul class="tab-nav">
    <li><div class="button active" data-ref="#current">Current</div></li>
    <li><div class="button" data-ref="#former">Former</div></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="current">
      {% assign current_people = site.data.students.students | where: "category", "current" %}
      {% for person in current_people %}
        <div class="paper">
          <p class="title"><b>{{ person.name }}</b> ({{ person.time }})</p>
          <p><i>{{ person.place }}</i></p>
          {% if person.current %}
          <p> {{ person.current }} </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="former">
      {% assign former_people = site.data.students.students | where: "category", "former" %}
      {% for person in former_people %}
        <div class="paper">
          <p class="title"><b>{{ person.name }}</b> ({{ person.time }})</p>
          <p><i>{{ person.place }}</i></p>
          {% if person.current %}
          <p> {{ person.current }} </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    
  </div>
</div>
--->



<!---
<div class="docs-section" id="resume">
  <h4>Resume</h4>

  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
--->


<div class="docs-section" id="ack">
  <h4>Acknowledgement</h4>
  <p>
    This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>
  </p>
</div>
